

.hero-bg {
    background-image: url("../img/latest-news/back_ground.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.homepage-bg-1 {
    background-image: url('../img/latest-news/back_ground.jpg');
  }
  
  .homepage-bg-2 {
    background-image: url("../img/latest-news/audience.jpg");
  }
  
  .homepage-bg-3 {
    background-image: url("../img/latest-news/slide3.jpg");
  }
  .abt-bg {
    background-image: url('../img/afg/flood.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    border-radius: 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
/* .feature-bg {
  position: relative;
  margin: 150px 0;
}
.aboutus-bg{
  position: relative;
} */
.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
}
.btn-primary {
  color: #fff;
  background-color: #239cd2;
  border-color: #17a2b8;
}
.btn{
  border-radius: 30 px;
}
.form-group{
      margin-top: 1rem;
}
.btn-block{
  display: block;
  width: 100%;
  margin-top: 1rem;
}
 .border-0{
  border: 0 !important;
 } 
 .py-3{
  padding-top: 1rem !important;
 }

 .responsive_image > img{
  width: 100%;
   height: auto !important;
   border-radius: 10px;
}
  /* @media only screen and (max-width: 500px){
    .responsive_image{
      width: auto;
      height: 100%;
      background-size:     cover;
  }
}
  @media only screen and (max-width: 700px){
    .responsive_image{
      width: auto;
      height: 400px;
  } 
 
 }*/
 .breadcrumb-bg {
  background-image: url("../img/company-logos/background.png") !important;
  height: inherit;
}
.breadcrumb-single-bg {
  background-image: url("../img/company-logos/background.png") !important;
  height: 30%;
}
 .breadcrumb-section-single {
  padding: 150px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  /* z-index: 1; */
  background-attachment: fixed;
  padding-top: 200px;
}

.breadcrumb-section-single:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.8;
}
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #17a2b8;
  --secondary: #00394f;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}